<div class="bloque">
    <img src="/images/icon-communities.svg" alt="">
    <h1 class="valores">1.4K+</h1>
    <P>Communities Formed</P>
</div>
<div class="bloque">
    <img src="/images/icon-messages.svg" alt="">
    <h1 class="valores">2.7m+</h1>
    <P>Messages Sent</P>
</div>